In [1]:
import pandas as pd

In [2]:
colors = pd.Series(["red","blue","green","black"])

In [3]:
colors

0      red
1     blue
2    green
3    black
dtype: object

In [5]:
car_type = pd.Series(["BMW","Honda","Audi"])

In [6]:
cars =pd.DataFrame({"car_make" : car_type , "color" : colors})

In [7]:
cars

  car_make  color
0      BMW    red
1    Honda   blue
2     Audi  green
3      NaN  black